:root{
    --secondary: hsl(225, 100%, 94%);
    --primary: hsl(245, 75%, 52%);
    --othercolor1: hsl(225, 100%, 98%);
    --othercolor2: hsl(224, 23%, 55%);
    --othercolor3: hsl(223, 47%, 23%);
}

p{
    font-size: 16px;
}
img{
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--othercolor1);
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
    width: 320px;
    min-height: 500px;
    background-color: white;
    box-shadow:
    0 6.4px 4.2px rgba(0, 0, 0, 0.007),
    0 17.7px 11.5px rgba(0, 0, 0, 0.01),
    0 42.5px 27.7px rgba(0, 0, 0, 0.013),
    0 141px 92px rgba(0, 0, 0, 0.02);
    border-radius: 20px;
}

.card-header{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    
}

.card-body, .card-footer{
    padding: 40px;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
}

.card-body h1{
    font-size: 20px;
    font-weight: 900;
    color: var(--othercolor3);
}

.card-body p{
    color: var(--othercolor2);
    line-height: 2;
}

.card-body .plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--othercolor1);
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    margin-top: 20px;
    
}

.card-body .plan h1,p,a{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.card-body .plan h1,a{
    font-weight: 700;
}

.card-body .plan a{
    color: var(--primary);
}

.card-body .plan a:hover{
    text-decoration: none;
    opacity: 0.5;
}

.card-body .plan .left{
    display: flex;
    align-items: center;
    text-align: left;
}

.plan .left .plan-text{
    margin-left: 10px;
}

.card-footer{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--othercolor2);
    font-weight: 900;
    font: 20px;
    outline: none;
    border: 0 none;
    cursor:pointer;
}

.btn:hover{
    color: var(--othercolor3);
}

.btn.btn-primary{
    color: var(--secondary);
    background-color: var(--primary);
    box-shadow:
  0 3px 7.1px rgba(0, 0, 0, 0.016),
  0 7.6px 17.9px rgba(0, 0, 0, 0.022),
  0 15.4px 36.5px rgba(0, 0, 0, 0.028),
  0 31.8px 75.2px rgba(0, 0, 0, 0.034),
  0 87px 206px rgba(0, 0, 0, 0.05)
;
}

.btn.btn.btn-primary:hover{
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    .wrapper{
        background-image: url("images/pattern-background-desktop.svg");
    }
    .card{
        width: 360px;
    }

    .card-body, .card-footer{
        padding: 50px;
    }

    .card-body{
        padding-top: 20px;
        padding-bottom: 0;
    }

    .card-footer{
        padding-top: 30px;
    }
}